In [1]:
import pandas as pd

In [2]:
vehicle_df = pd.read_csv("vehicle_trade_data.csv")

In [3]:
vehicle_df

,public_reference,mileage,reg_code,standard_colour,standard_make,standard_model,vehicle_condition,year_of_registration,price,body_type,crossover_car_and_van,fuel_type,make_model,age
0,202010014440649,31534.0,17,Grey,MINI,Hatch,USED,2017.0,19000,Hatchback,False,Petrol,MINI - Hatch,5
1,202010155026725,52023.0,66,Blue,Volkswagen,Golf,USED,2016.0,13500,Estate,False,Diesel,Volkswagen - Golf,6
2,202008142485309,29500.0,12,Grey,Mercedes-Benz,C Class,USED,2012.0,9495,Saloon,False,Petrol,Mercedes-Benz - C Class,10
3,202009183894045,35300.0,18,Grey,Vauxhall,Corsa,USED,2018.0,7293,Hatchback,False,Petrol,Vauxhall - Corsa,4
4,202010014441671,47299.0,65,Black,Nissan,Qashqai,USED,2016.0,11500,SUV,False,Diesel,Nissan - Qashqai,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96264,202010295556637,28225.0,17,White,Mercedes-Benz,C Class,USED,2017.0,18499,Saloon,False,Diesel,Mercedes-Benz - C Class,5
96265,202010305614799,122000.0,07,Silver,BMW,3 Series,USED,2007.0,1990,Saloon,False,Petrol,BMW - 3 Series,15
96266,202010315639231,45000.0,15,Silver,Vauxhall,Corsa,USED,2015.0,5000,Hatchback,False,Petrol,Vauxhall - Corsa,7
96267,202010315647416,4075.0,69,Grey,Nissan,Juke,USED,2019.0,18000,SUV,False,Petrol,Nissan - Juke,3
96268,202010315659271,52760.0,62,White,Nissan,Qashqai,USED,2012.0,7250,SUV,False,Petrol,Nissan - Qashqai,10

In [4]:
vehicle_df["standard_make"]

0                 MINI
1           Volkswagen
2        Mercedes-Benz
3             Vauxhall
4               Nissan
             ...
96264    Mercedes-Benz
96265              BMW
96266         Vauxhall
96267           Nissan
96268           Nissan
Name: standard_make, Length: 96269, dtype: object

In [5]:
df1= vehicle_df[vehicle_df["standard_make"]== "BMW"]
df2 = vehicle_df[vehicle_df["standard_make"]== "MINI"]



df3 = vehicle_df[vehicle_df["standard_make"] == "Mercedes-Benz"]
df4 = vehicle_df[vehicle_df["standard_make"] == "Volkswagen"]
df5 = vehicle_df[vehicle_df["standard_make"] == "Vauxhall"]
df6 = vehicle_df[vehicle_df["standard_make"] == "Nissan"]
df7 = vehicle_df[vehicle_df["standard_make"] == "Audi"]
df8 = vehicle_df[vehicle_df["standard_make"] == "Kia"]
df9 = vehicle_df[vehicle_df["standard_make"] == "Renault"]
df10 = vehicle_df[vehicle_df["standard_make"] == "Flat"]
df11 = vehicle_df[vehicle_df["standard_make"] == "Toyota"]
df11

,public_reference,mileage,reg_code,standard_colour,standard_make,standard_model,vehicle_condition,year_of_registration,price,body_type,crossover_car_and_van,fuel_type,make_model,age
5,202010235355785,7990.0,19,Black,Toyota,Yaris,USED,2019.0,11147,Hatchback,False,Petrol,Toyota - Yaris,3
72,202010285535376,6506.0,68,Blue,Toyota,Yaris,USED,2018.0,9845,Hatchback,False,Petrol,Toyota - Yaris,4
177,202009173855614,15250.0,68,Grey,Toyota,Yaris,USED,2018.0,9490,Hatchback,False,Petrol,Toyota - Yaris,4
379,202010265459337,8020.0,19,Grey,Toyota,Yaris,USED,2019.0,12495,Hatchback,False,Petrol,Toyota - Yaris,3
382,202010285525838,12023.0,66,Blue,Toyota,Yaris,USED,2017.0,8595,Hatchback,False,Petrol,Toyota - Yaris,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95824,202010155047604,2450.0,69,Grey,Toyota,Yaris,USED,2019.0,13900,Hatchback,False,Petrol,Toyota - Yaris,3
95877,202009214013367,11409.0,67,Black,Toyota,Yaris,USED,2017.0,9495,Hatchback,False,Petrol,Toyota - Yaris,5
96007,202010205233970,161000.0,10,Black,Toyota,Yaris,USED,2010.0,1150,Hatchback,False,Diesel,Toyota - Yaris,12
96166,202010195182595,3918.0,20,Grey,Toyota,Yaris,USED,2020.0,16990,Hatchback,False,Petrol,Toyota - Yaris,2
96189,202011015664903,120000.0,55,Silver,Toyota,Yaris,USED,2005.0,990,Hatchback,False,Petrol,Toyota - Yaris,17

In [10]:
with pd.ExcelWriter('excel_sheets.xlsx') as writer:

AttributeError: module 'pandas' has no attribute 'write_excel'